#fm
    {
        width: 120%;
        padding: 5%;
    }
.signup
{
    background-color:rgb(42, 42, 130) ;
    color:white;
    width:120%;
    border:1px solid black;
    border-radius:10%;
    padding: 5% 15px 5px 15px;
    
}
.i
{
width: 20px;
}
p{
    text-align: center;
  
}
button
{
    background-color:forestgreen;
   
    width: 190px;

     border-radius: 15%;
      padding: 5px
}
#signup{
    text-decoration: none;
    color: none;
    color:WHITE;
}
